.logo {
  height: 70%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo img {
  height: 100%;
}

.logo h3 {
  margin-left: 15px;
}

@media (min-width: 499px) {
  .logo {
    margin-right: auto;
  }
}
